body {
    padding: 1em;
}

.scroll_table {
  height:640px;
  display:block;
  overflow-y:scroll;
  width:100%;
}

.scroll_small_table {
  height:186px;
  display:block;
  overflow-y:scroll;
  width:100%;
}

td {
  width: 10%;
}

.site{
  overflow: scroll;
}

.city_image{
    width=1900px;
    height=140px;
}

.add_label{
    float: left;
}

.form_gap{
    margin-bottom: 12px;
}

.larger_gap{
    margin-bottom: 18px;
}