{% extends 'pattern.html' %}
{% load bootstrap %}

{% block title %} Dodaj miasto {% endblock %}

{% block page %}
    <div class="card text-center bg-success p-2 text-black" style="--bs-bg-opacity: .25;">
      <div class="card-header">
          <h2 class="display-4">Dodaj miasto!</h2>
        </div>
        <div class="card-body">

            <img src="/images/city.jpe" class="city_image"width=1840 height=400>
            <br>
            <br>

       <div class="row">
           <div class="col-6">
               <h3>Formularz:</h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_city|bootstrap }}
                <br>
            </form>
            </div>
           <div class="col-6">
               <h3>Ostatnio dodane miasta:</h3>
               <br>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Nazwa</th>
                      <th scope="col">Powiat</th>
                      <th scope="col">Województwo</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for city in cities %}
                    <tr>
                      <td>{{ city.name}}</td>
                      <td>{{ city.county }}</td>
                      <td>{{ city.province }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
       </div>
       <div class="row">
           <div class="col-2">
            <button type="submit" class="btn btn-secondary">Dodaj</button> <a href="{% url 'main' %}" class="btn btn-secondary" >Powrót</a>
           </div>
           <div class="col-10"></div>
       </div>
            <br>
      <div class="card-footer text-muted">
        Jest {% now "j E Y" %}, godzina {% now "H:i" %}
      </div>
    </div>

{% endblock %}