{% extends 'pattern.html' %}
{% load bootstrap %}

{% block title %} Dodaj osobę {% endblock %}

{% block page %}
    <div class="card text-center bg-success p-2 text-black" style="--bs-bg-opacity: .25;">
      <div class="card-header">
          <h2 class="display-4">Dodaj osobę!</h2>
        </div>
        <div class="card-body">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_person|bootstrap }}
            <br>
            <button type="submit" class="btn btn-secondary">Dodaj</button> <a href="{% url 'main' %}" class="btn btn-secondary" >Powrót</a>
        </form>
        </div>
      <div class="card-footer text-muted">
        Jest {% now "j E Y" %}, godzina {% now "H:i" %}
      </div>
    </div>
{% endblock %}