{% extends 'pattern.html' %}
{% load bootstrap %}

{% block title %} Dodaj osobę {% endblock %}

{% block page %}
    <h2>Ostatnio dodane miasta:</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Powiat</th>
          <th scope="col">Województwo</th>
        </tr>
      </thead>
      <tbody>
        {% for city in cities %}
        <tr>
          <td>{{ city.name}}</td>
          <td>{{ city.county }}</td>
          <td>{{ city.province }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_city|bootstrap }}
        <br>
        <button type="submit" class="btn btn-secondary">Dodaj</button> <a href="{% url 'main' %}" class="btn btn-secondary" >Powrót</a>
    </form
{% endblock %}