{% extends 'pattern.html' %}
{% load bootstrap %}

{% block title %} Zmień hasło {% endblock %}

{% block card_head %}
    <h2 class="display-4">Zmień hasło!</h2>
{% endblock %}

{% block card_body %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
<!--        {{ form_change_password }}-->
        <div class="fieldWrapper">
            <label class="add_label">Stare hasło:</label>
            {{ form_change_password.old_password|bootstrap_inline }}
        </div>
        <div class="form_gap"></div>
        <div class="fieldWrapper">
            <label class="add_label">Nowe hasło:</label>
            {{ form_change_password.new_password1|bootstrap_inline }}
        </div>
        <div class="form_gap"></div>
        <div class="fieldWrapper">
            <label class="add_label">Powtórz nowe hasło:</label>
            {{ form_change_password.new_password2|bootstrap_inline }}
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Zmień</button> <a href="{% url 'main' 'none' %}" class="btn btn-secondary" >Powrót</a>
    </form>
{% endblock %}