{% extends 'pattern.html' %}

{% block title %} Main page {% endblock %}

{% block page %}
<div class="card text-center">
  <div class="card-header">
    {% if user.is_authenticated %}
      <h2 class="display-4">Witaj {{ user.username }}!</h2>
    {% endif %}
  </div>
  <div class="card-body">
    {% if perms.covid %}
      <a href="{% url 'register' %}" class="btn btn-secondary">Zarejestruj użytkownika </a>  <a href="{% url 'add_person' %}" class="btn btn-secondary">Dodaj osobę</a>  <a href="{% url 'add_laboratory' %}" class="btn btn-secondary">Dodaj placówkę laboratoryjną</a> <a href="{% url 'add_hospital' %}" class="btn btn-secondary">Dodaj placówkę hospitalizującą</a> <a href="{% url 'add_city' %}" class="btn btn-secondary">Dodaj miasto</a> <br>
    {% else %}
      <a href="{% url 'add_person' %}" class="btn btn-secondary">Dodaj osobę</a>  <a href="{% url 'add_laboratory' %}" class="btn btn-secondary" >Dodaj placówkę laboratoryjną</a> <a href="{% url 'add_hospital' %}" class="btn btn-secondary" >Dodaj placówkę hospitalizującą</a> <a href="{% url 'add_city' %}" class="btn btn-secondary" >Dodaj miasto</a> <br>
    {% endif %}

    <br>
    <br>
    <h2>Lista osób aktualnie widniejących w bazie danych: {{ people|length }}</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Wiek</th>
          <th scope="col">Miasto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
        <tr>
          <td>{{ person.name }}</td>
          <td>{{ person.surname }}</td>
          <td>{{ person.age }}</td>
          <td>{{ person.city }}</td>
          <td><a href="{% url 'edit_person' person.id %}" class="btn btn-secondary"><i class="fas fa-user-pen"></i></a> <a href="{% url 'delete_person' person.id %}" class="btn btn-secondary"><i class="fas fa-user-minus"></i></a> <button type="button" class="btn btn-secondary"><i class="fas fa-envelope-open-text"></i></button></li></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>

  <button type="button" class="btn btn-secondary">Eksportuj formularz <i class="fas fa-table"></i></button> <br>
  <a href="{% url 'logout' %}" class="btn btn-secondary">Wyloguj</a>

  </div>
  <div class="card-footer text-muted">
    {% now "jS F Y H:i" %}
  </div>
</div>

{% endblock %}