{% extends 'pattern.html' %}

{% block title %} Strona główna {% endblock %}

{% block card_head %}
    {% if user.is_authenticated %}
      <h2 class="display-4">Witaj {{ user.username }}!</h2>
    {% endif %}
{% endblock %}

{% block card_body %}
    <ul class="nav nav-pills">
      <li class="nav-item">
        <div class="dropdown">
          {% if perms.covid %}
          <a href="{% url 'administration_panel' %}" class="btn btn-secondary">Panel administracyjny</a> <a href="{% url 'add_person' %}" class="btn btn-secondary">Dodaj osobę</a> <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Dodaj miejsce </a> <a href="{% url 'export_excel' %}" class="btn btn-secondary">Eksportuj formularz <i class="fas fa-table"></i></a> <a href="{% url 'change_password' %}" class="btn btn-secondary">Zmień hasło</a> <a href="{% url 'logout' %}" class="btn btn-secondary">Wyloguj</a>
          {% else %}
          <a href="{% url 'add_person' %}" class="btn btn-secondary">Dodaj osobę</a> <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Dodaj miejsce </a> <a href="{% url 'export_excel' %}" class="btn btn-secondary">Eksportuj formularz <i class="fas fa-table"></i></a>  <a href="{% url 'change_password' %}" class="btn btn-secondary">Zmień hasło</a> <a href="{% url 'logout' %}" class="btn btn-secondary">Wyloguj</a>
          {% endif %}
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'add_city' %}">Miasto</a></li>
            <li><a class="dropdown-item" href="{% url 'add_laboratory' %}">Laboratorium</a></li>
            <li><a class="dropdown-item" href="{% url 'add_hospital' %}">Szpital</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <br>
    <br>

    <div class="row">
      <div class="col-4">
        <h4>Lista osób aktualnie widniejących w bazie danych: {{ people|length }}</h4>
      </div>
      <div class="col-6">
      </div>
      <div class="col-2">
        <form action="">
          <input type="text" name="search" placeholder="Wyszukaj po nazwisku..." value="{{request.GET.name}}">
          <input type="submit" value="Szukaj" >
        </form>
      </div>
    </div>

    <table class="table table-bordered table-striped scroll_table">
      <thead>
        <tr>
          <th scope="col"><a href="{% url 'main' 'name' %}" class="table_header" data-toggle="tooltip" title="Sortuj według imienia">Imię</a></th>
          <th scope="col"><a href="{% url 'main' 'surname' %}" class="table_header" data-toggle="tooltip" title="Sortuj według nazwiska">Nazwisko</a></th>
          <th scope="col"><a href="{% url 'main' 'age' %}" class="table_header" data-toggle="tooltip" title="Sortuj według wieku">Wiek</a></th>
          <th scope="col"><a href="{% url 'main' 'city' %}" class="table_header" data-toggle="tooltip" title="Sortuj według miasta">Miasto</a></th>
          <th scope="col"><a href="{% url 'main' 'quarantine' %}" class="table_header" data-toggle="tooltip" title="Sortuj według kwarantanny">Kwarantanna</a></th>
          <th scope="col"><a href="{% url 'main' 'hospitalization' %}" class="table_header" data-toggle="tooltip" title="Sortuj według hospitalizacji">Hospitalizacja</a></th>
          <th scope="col"><a href="{% url 'main' 'supervision' %}" class="table_header" data-toggle="tooltip" title="Sortuj według nadzoru">Nadzór</a></th>
          <th scope="col"><a href="{% url 'main' 'who_added' %}" class="table_header" data-toggle="tooltip" title="Sortuj według osoby dodającej">Dodał</a></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
        <tr>
          <td>{{ person.name }}</td>
          <td>{{ person.surname }}</td>
          <td>{{ person.age }}</td>
          <td>{{ person.city }} ({{ person.city.get_province_display }})</td>
          <td>{{ person.get_quarantine_display }}</td>
          <td>{{ person.get_hospitalization_display }}</td>
          <td>{{ person.get_supervision_display }}</td>
          <td>{{ person.who_added }}</td>

          <td><a href="{% url 'edit_person' person.id %}" class="btn btn-secondary" data-toggle="tooltip" title="Edytuj osobę"><i class="fas fa-user-pen"></i></a> <a href="{% url 'delete_person' person.id %}" class="btn btn-secondary" data-toggle="tooltip" title="Usuń osobę"><i class="fas fa-user-minus"></i></a> <a href="{% url 'export_docx' person.id %}"  class="btn btn-secondary" data-toggle="tooltip" title="Generuj zawiadomienie"><i class="fas fa-envelope-open-text"></i></a></li></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}